<div class="row">
	<div class="column">
		<%= image_tag("front1.jpg", height: '100%', width: '100%', alt: "donut fries from the top view") %>
	</div>

	<div class="column">
		<%= image_tag("front2.jpg", height: '100%', width: '100%', alt: "animal fries on the top") %>
	</div>

	<div class="column">
		<%= image_tag("front3.jpg", height: '100%', width: '100%', alt: "cheetos fries on the top") %>
	</div>

	<div class="column">
		<%= image_tag("front4.jpg", height: '100%', width: '100%', alt: "margherita fries on the top") %>
	</div>

	<div class="column">
		<%= image_tag("front5.jpg", height: '100%', width: '100%', alt: "bahn mi fries on the top") %>
	</div>
</div>