<% provide(:title, "menu") %>
<div class="medium-width center-block">
	<h1 class="text-center center-block" style="padding-bottom: 40px;">menu</h1>
		<div class="food">
			<%= image_tag("bahnmi.jpg", height: '50%', width: '50%', alt: "bahnmi fries", :class => "float") %>
				<div class = "description">
					<h3>bahn mi fries</h3>
						<p>Crispy, crunchy and topped with everything good inside a banh mi, these fries are fusion (ugh, does anyone else dislike the word fusion when describing food? But what else do we call it?!) food at its best. You will not regret ordering these to die for fries, and have no guilt over the calories as well.</p>
				</div>
		</div>

		<div class="food">
			<%= image_tag("margherita.jpg", height: '50%', width: '50%', alt: "emma", :class => "float") %>
				<div class="description">
					<h3>margherita pizza fries</h3>
						<p>These fries are coated with the finest margherita cheese you can find in Baltimore. When that cheese melts over the fries and the tomatoes char ever so slightly from the extra oven time, you have yourself some delicious margherita pizza fries. </p>
				</div>
		</div>


		<div class="food">
			<%= image_tag("donut.jpg", height: '50%', width: '50%', alt: "emma", :class => "float") %>
			<div class="description">	
				<h3>doughnut fries</h3>
					<p>These fries are those who have a sweet tooth. After being fried to a crispy edge, these balls of dough are coated in powdered sugar and chocolate. To finish it off, a slight sprinkle of cut strawberring is put on them. </p>
			</div>
		</div>

		<div class="food">
			<%= image_tag("cheetos.jpg", height: '50%', width: '50%', alt: "emma", :class => "float") %>
			<div class="description">
				<h3>hot cheetos fries</h3>
					<p>Cheetos and french fries. What more do we have to say? Experience the delight of the spicy crunchiness of the cheetos combined with the crispy delight of hot french fries. This certainly is a great way to end the night. </p>
			</div>
		</div>

		<div class="food">
		<%= image_tag("animal.jpg", height: '50%', width: '50%', alt: "emma", :class => "float") %>
			<div class="description">
				<h3>animal fries</h3>
					<p>Remember whenever you got so excited ordering those animal fries in the In-n-Out, as if you were the only one that knew about them. Well now you can re-experience that feeling by ordering these right now. Never had In-n-Out animal fries? Well you're in for quite the treat!</p>
			</div>
		</div>
</div>